{% extends 'base.html' %}

{% block sidebar %}
<li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>Dashboard</a></li>
<li><a href="{% url 'add_pg' %}"><i class="fa-solid fa-plus"></i>Add PG</a></li>
<li><a href="{% url 'owner_customers' %}"><i class="fa-solid fa-users"></i>My Customers</a></li>
<li><a href="{% url 'owner_pg_list' %}"><i class="fa-solid fa-building"></i>Manage PG</a></li>
<li><a href="{% url 'owner_bookings' %}"><i class="fa-solid fa-calendar-check"></i>Booking Requests</a></li>
<li><a href="{% url 'owner_booking_history' %}"><i class="fa-solid fa-history"></i>Booking History</a></li>
{% endblock %}


{% block title %}Booking Requests{% endblock %}

{% block content %}
<h2>Booking Requests</h2>

<table class="table">
    <tr>
        <th>Customer</th>
        <th>PG</th>
        <th>Room</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for b in bookings %}
    <tr>
        <td>{{ b.customer.username }}</td>
        <td>{{ b.room.pg.name }}</td>
        <td>{{ b.room.room_type }}</td>
        <td>{{ b.status }}</td>
        <td>
            <a href="{% url 'approve_booking' b.id %}" class="btn small">Approve</a>
            <a href="{% url 'reject_booking' b.id %}" class="btn small danger">Reject</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No pending booking requests</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
