{% extends 'base.html' %}

{% block title %}Owner Dashboard{% endblock %}

{% block sidebar %}
<li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>Dashboard</a></li>
<li><a href="{% url 'add_pg' %}"><i class="fa-solid fa-plus"></i>Add PG</a></li>
<li><a href="{% url 'owner_customers' %}">My Customers</a></li>
<li><a href="{% url 'owner_pg_list' %}"><i class="fa-solid fa-building"></i>Manage PG</a></li>
<li><a href="{% url 'owner_bookings' %}"><i class="fa-solid fa-calendar-check"></i>Booking Requests</a></li>
<li><a href="{% url 'owner_booking_history' %}">Booking History</a></li>
{% endblock %}


{% block content %}
<div class="page-header">
    <h2>Owner Dashboard</h2>
    <p>Overview of your PG business</p>
</div>

<div class="stats-grid">
    <div class="stat-card">
        <h3>{{ my_pgs }}</h3>
        <p>My PGs</p>
    </div>

    <div class="stat-card">
        <h3>{{ total_rooms }}</h3>
        <p>Total Rooms</p>
    </div>

    <div class="stat-card success">
        <h3>{{ available_rooms }}</h3>
        <p>Available Rooms</p>
    </div>

    <div class="stat-card warning">
        <h3>{{ pending_bookings }}</h3>
        <p>Pending Bookings</p>
    </div>

    <div class="stat-card">
        <h3>{{ approved_bookings }}</h3>
        <p>Approved Bookings</p>
    </div>

    <div class="stat-card success">
        <h3>₹ {{ income }}</h3>
        <p>Total Income</p>
    </div>

</div>
{% endblock %}
