{% extends 'base.html' %}

{% block sidebar %}
<li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>Dashboard</a></li>
<li><a href="{% url 'add_pg' %}"><i class="fa-solid fa-plus"></i>Add PG</a></li>
<li><a href="{% url 'owner_customers' %}"><i class="fa-solid fa-users"></i>My Customers</a></li>
<li><a href="{% url 'owner_pg_list' %}"><i class="fa-solid fa-building"></i>Manage PG</a></li>
<li><a href="{% url 'owner_bookings' %}"><i class="fa-solid fa-calendar-check"></i>Booking Requests</a></li>
<li><a href="{% url 'owner_booking_history' %}"><i class="fa-solid fa-history"></i>Booking History</a></li>
{% endblock %}


{% block title %}Rooms – {{ pg.name }}{% endblock %}

{% block content %}
<h2>Rooms – {{ pg.name }}</h2>



<table class="table">
    <tr>
        <th>Type</th>
        <th>Price</th>
        <th>Total</th>
        <th>Available</th>
    </tr>

    {% for room in rooms %}
    <tr>
        <td>{{ room.room_type }}</td>
        <td>₹ {{ room.price }}</td>
        <td>{{ room.total_rooms }}</td>
        <td>{{ room.available_rooms }}</td>
        <td>
            <a href="{% url 'edit_room' room.id %}" class="btn small">Edit</a>

            {% if room.bookings.count == 0 %}
            <form method="post" action="{% url 'delete_room' room.id %}" style="display:inline;">
                {% csrf_token %}
                <button
                    type="submit"
                    class="btn small danger"
                    onclick="return confirm('Remove this room?')"
                >
                    Remove
                </button>
            </form>
            {% else %}
                <span class="badge warning">In Use</span>
            {% endif %}
        </td>


    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No rooms added yet</td>
    </tr>
    {% endfor %}
</table><br>
<a href="{% url 'add_room' pg.id %}" class="btn primary">Add Room</a>
{% endblock %}

