{% extends 'base.html' %}

{% block sidebar %}
<li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>Dashboard</a></li>
<li><a href="{% url 'customer_pg_list' %}"><i class="fa-solid fa-magnifying-glass-location"></i>Search PG</a></li>
<li><a href="{% url 'customer_bookings' %}"><i class="fa-solid fa-calendar-check"></i>My Bookings</a></li>
{% endblock %}

{% block title %}Browse PGs{% endblock %}

{% block content %}
<div class="page-header">
    <h2>Available PGs</h2>
    <p>Choose the best PG for you</p>
</div>

<form method="get" class="filter-bar">

    <input
        type="text" class="location-input"
        name="location"
        placeholder="Search location"
        value="{{ location }}"
    >

    <select name="gender">
        <option value="">All</option>
        <option value="MALE" {% if gender == 'MALE' %}selected{% endif %}>Male</option>
        <option value="FEMALE" {% if gender == 'FEMALE' %}selected{% endif %}>Female</option>
        <option value="BOTH" {% if gender == 'BOTH' %}selected{% endif %}>Both</option>
    </select>

    <input
        type="number"
        name="max_price"
        placeholder="Max price"
        value="{{ max_price }}"
    >

    <button type="submit" class="btn primary">Search</button>

    <a href="{% url 'customer_pg_list' %}" class="btn">Reset</a>
</form>


<div class="pg-grid">
    {% for pg in pgs %}
    <div class="pg-card">

        {% if pg.image %}
        <img src="{{ pg.image.url }}" alt="{{ pg.name }}">
        {% else %}
        <div class="no-img">No Image</div>
        {% endif %}

        <div class="pg-body">
            <h3>{{ pg.name }}</h3>
            <p class="location">{{ pg.location }}</p>

            <div class="pg-info">
                <span>₹ {{ pg.price }}/month</span>
                <span>{{ pg.gender_type }}</span>
            </div>

            <a href="{% url 'customer_pg_detail' pg.id %}" class="btn primary small">
    View Details
</a>

        </div>
    </div>
    {% empty %}
    <p>No PGs available right now.</p>
    {% endfor %}
</div>
{% endblock %}
